.poscenter{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    // height: 100%;
    // width: 70%
}
.videoframe{
    width: 560px;
    height: 315px;
}

.editarea{
    width: 1200px;
    height: 450px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
  
}

.labsize{
    width: 30px;
    height: 15px;
    font-size: medium;
    margin-right: 50px;
    margin-left:170px; 
    position: relative;
}

.inputsize{
    width: 260px; 
    height: 50px;
}

.labelsize{
    width: 30px; 
    height: 15px; 
    font-size: medium;
}

.desarea{
    width: 500px; 
    height:260px; 
    position: absolute;
}

.cenpos{
    text-align:center;
}

.savebtn{
    width:150px;
    margin-right: 20px;
}

.delbtn{
    width:150px;
    margin-left: 20px;
}