.title .title-text .title-1, .title .title-text .title-2 {
  line-height: 5px; }

.title .title-text .title-3 {
  line-height: 20px; }

.about-me .about-text h3 {
  line-height: 10px; }

.title .title-text .title-btn1, .title .title-text .title-btn2, .about-me .about-text .about-btn1 {
  font-size: 10px;
  font-weight: 500;
  width: 150px;
  height: 50px;
  margin: 5px; }

.about-me .about-text .about-text-1, .about-me .about-text .about-text-2 {
  font-size: 10px; }

/*navbar*/
.navbar {
  position: sticky;
  top: 0;
  width: 100%; }
  .navbar div {
    display: inline-block;
    margin-left: 50px; }
  .navbar .navlogo img {
    width: 75px;
    height: 30px;
    left: 10%; }
  .navbar .navbartext {
    float: right; }
    .navbar .navbartext li {
      display: inline-block;
      list-style: none;
      margin-right: 50px; }
    .navbar .navbartext a {
      text-decoration: none;
      font-size: 12px;
      color: black;
      font-family: Arial, Helvetica, sans-serif; }

/*title*/
.title {
  margin: 15%; }
  .title div {
    display: inline-block;
    float: left; }
  .title .title-text {
    margin-left: 50px;
    margin-top: 100px; }
    .title .title-text .title-1 {
      font-size: 37px; }
    .title .title-text .title-2 {
      font-size: 50px; }
    .title .title-text .title-3 {
      font-size: 5px;
      font-weight: 300; }
    .title .title-text button {
      display: inline-block;
      margin-top: 40px; }
    .title .title-text .title-btn1 {
      background-color: aquamarine;
      border-radius: 50px 50px 50px 50px; }
    .title .title-text .title-btn2 {
      border: none; }
  .title .title-image embed {
    margin-left: 50px;
    margin-bottom: 50px; }

/*about me*/
.about-me {
  margin-left: 20%;
  margin-right: 15%;
  margin-top: 25%; }
  .about-me div {
    display: inline-block; }
  .about-me .about-image {
    position: relative;
    margin-top: 10%; }
    .about-me .about-image embed {
      position: relative;
      z-index: 2; }
  .about-me .about-text {
    margin-left: 50px; }
    .about-me .about-text .about-text-1 {
      color: aquamarine;
      text-shadow: 5px 5px 6px aquamarine; }
    .about-me .about-text .about-btn1 {
      color: azure;
      margin-top: 50px;
      background-color: aquamarine;
      border-radius: 10px 10px 10px 10px; }

/*circle progress bar*/
.circle-progress {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%; }
  .circle-progress .shadow_circle {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    /* shadows */
    overflow: hidden;
    text-align: center; }
    .circle-progress .shadow_circle .progress_circle_1 {
      width: 150px;
      height: 150px;
      border: 7px solid transparent;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -82px;
      margin-top: -82px;
      transform: rotate(45deg);
      border-top: 7px solid #1de9b6;
      border-right: 7px solid #1de9b6; }
      .circle-progress .shadow_circle .progress_circle_1 .text_circle {
        width: 148px;
        height: 148px;
        border: 2px solid #a7ffeb;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .circle-progress .shadow_circle .circle-text {
      position: absolute;
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .circle-progress .shadow_circle .circle-text .circle-number {
        font-family: 'Patua One', cursive;
        font-size: 40px; }
      .circle-progress .shadow_circle .circle-text .circle-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px; }
  .circle-progress .shadow_circle {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    /* shadows */
    overflow: hidden;
    text-align: center; }
    .circle-progress .shadow_circle .progress_circle_2 {
      width: 150px;
      height: 150px;
      border: 7px solid transparent;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -82px;
      margin-top: -82px;
      transform: rotate(45deg);
      border-top: 7px solid #1de9b6;
      border-right: 7px solid #1de9b6;
      border-bottom: 7px solid #1de9b6; }
      .circle-progress .shadow_circle .progress_circle_2 .text_circle {
        width: 148px;
        height: 148px;
        border: 2px solid #a7ffeb;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .circle-progress .shadow_circle .circle-text {
      position: absolute;
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .circle-progress .shadow_circle .circle-text .circle-number {
        font-family: 'Patua One', cursive;
        font-size: 40px; }
      .circle-progress .shadow_circle .circle-text .circle-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px; }
  .circle-progress .shadow_circle {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    /* shadows */
    overflow: hidden;
    text-align: center; }
    .circle-progress .shadow_circle .progress_circle_3 {
      width: 150px;
      height: 150px;
      border: 7px solid transparent;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -82px;
      margin-top: -82px;
      transform: rotate(45deg);
      border-top: 7px solid #1de9b6; }
      .circle-progress .shadow_circle .progress_circle_3 .text_circle {
        width: 148px;
        height: 148px;
        border: 2px solid #a7ffeb;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .circle-progress .shadow_circle .circle-text {
      position: absolute;
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .circle-progress .shadow_circle .circle-text .circle-number {
        font-family: 'Patua One', cursive;
        font-size: 40px; }
      .circle-progress .shadow_circle .circle-text .circle-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px; }
  .circle-progress .shadow_circle {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    /* shadows */
    overflow: hidden;
    text-align: center; }
    .circle-progress .shadow_circle .progress_circle_4 {
      width: 150px;
      height: 150px;
      border: 7px solid transparent;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -82px;
      margin-top: -82px;
      transform: rotate(45deg);
      border-top: 7px solid #1de9b6;
      border-right: 7px solid #1de9b6; }
      .circle-progress .shadow_circle .progress_circle_4 .text_circle {
        width: 148px;
        height: 148px;
        border: 2px solid #a7ffeb;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .circle-progress .shadow_circle .circle-text {
      position: absolute;
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .circle-progress .shadow_circle .circle-text .circle-number {
        font-family: 'Patua One', cursive;
        font-size: 40px; }
      .circle-progress .shadow_circle .circle-text .circle-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px; }

.my-service-title {
  margin-left: 35%;
  margin-right: 30%;
  margin-top: 10%; }
  .my-service-title p {
    font-size: 18px;
    color: aquamarine;
    text-shadow: 5px 5px 6px greenyellow; }

.my-service1 div {
  display: inline-block; }

.my-service1 .progress-bar1 {
  background: #d7d7d7;
  width: 250px;
  height: 5px; }

.my-service1 .myservice-text3 {
  font-size: 10px; }

.my-service1 .myservice-text1 {
  font-size: 8px; }

.my-service1 .myservice-text2 {
  font-size: 8px;
  color: white; }

.my-service1 .service-btn1 {
  font-size: 16px;
  color: azure;
  background-color: aquamarine;
  border-radius: 0%;
  border-color: aquamarine; }

.my-service1 .service-btn2 {
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 0%; }

.my-service1 .my-service-border1 {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 0%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
  /* shadows */
  overflow: hidden;
  margin-left: 25%;
  margin-top: 5%; }
  .my-service1 .my-service-border1 h3 {
    color: cyan;
    line-height: 5px; }
  .my-service1 .my-service-border1 h2 {
    line-height: 5px; }

.my-service1 .my-service-border2 {
  position: relative;
  width: 300px;
  height: 220px;
  border-radius: 0%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
  /* shadows */
  overflow: hidden;
  margin-left: 100px;
  margin-bottom: 50px; }

.my-service2 div {
  display: inline-block; }

.my-service2 .progress-bar1 {
  background: #d7d7d7;
  width: 250px;
  height: 5px; }

.my-service2 .myservice-text3 {
  font-size: 10px; }

.my-service2 .myservice-text1 {
  font-size: 8px; }

.my-service2 .myservice-text2 {
  font-size: 8px;
  color: white; }

.my-service2 .service-btn1 {
  font-size: 16px;
  color: azure;
  background-color: aquamarine;
  border-radius: 0%;
  border-color: aquamarine; }

.my-service2 .service-btn2 {
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 0%; }

.my-service2 .my-service-border3 {
  position: relative;
  width: 300px;
  height: 220px;
  border-radius: 0%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  /* shadows */
  overflow: hidden;
  margin-left: 25%;
  margin-bottom: 5%; }

.my-service2 .my-service-border4 {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 0%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
  /* shadows */
  overflow: hidden;
  margin-left: 100px;
  background-color: #52d7b6; }
  .my-service2 .my-service-border4 h2, .my-service2 .my-service-border4 h3 {
    color: azure; }

.my-service3 div {
  display: inline-block; }

.my-service3 .progress-bar1 {
  background: #d7d7d7;
  width: 250px;
  height: 5px; }

.my-service3 .myservice-text3 {
  font-size: 10px; }

.my-service3 .myservice-text1 {
  font-size: 8px; }

.my-service3 .myservice-text2 {
  font-size: 8px;
  color: white; }

.my-service3 .service-btn1 {
  font-size: 16px;
  color: azure;
  background-color: aquamarine;
  border-radius: 0%;
  border-color: aquamarine; }

.my-service3 .service-btn2 {
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 0%; }

.my-service3 .my-service-border5 {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 0%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
  /* shadows */
  overflow: hidden;
  margin-left: 25%;
  margin-top: 5%; }

.my-service3 .myservice-border-back {
  position: relative;
  margin-left: 100px;
  margin-bottom: 20%; }
  .my-service3 .myservice-border-back .myservice-back {
    width: 200px;
    height: 200px;
    background: white;
    background-image: linear-gradient(white 10px, transparent 0), linear-gradient(90deg, aquamarine 5px, transparent 0);
    background-size: 15px 15px,15px 15px;
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 1; }
  .my-service3 .myservice-border-back .my-service-border6 {
    position: absolute;
    width: 300px;
    height: 220px;
    border-radius: 0%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    /* shadows */
    overflow: hidden;
    z-index: 2;
    background-color: white; }

.my-service-button {
  margin-left: 45%;
  margin-top: 5%; }
  .my-service-button .service-btn3 {
    font-size: 16px;
    color: white;
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 10%;
    width: 130px;
    height: 40px; }

/*portfolio*/
.portfolio {
  margin-left: 40%;
  margin-right: 40%; }
  .portfolio .port-text1 {
    font-size: 18px;
    color: aquamarine;
    text-shadow: 5px 5px 5px aquamarine; }
  .portfolio h2 {
    text-shadow: 5px 5px 5px aquamarine; }

.port-img {
  margin-top: 5%;
  margin-left: 10%; }
  .port-img div {
    display: inline-block; }
  .port-img .port1 {
    position: relative;
    margin-left: 50px; }
  .port-img .imgdiv {
    position: relative;
    margin-left: 40px;
    width: 241px;
    height: 304px; }
    .port-img .imgdiv .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 241px;
      height: 304px;
      background: rgba(101, 101, 101, 0.6);
      color: #ffffff;
      opacity: 0; }
      .port-img .imgdiv .mask h3 {
        text-align: center; }
      .port-img .imgdiv .mask button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 100px;
        margin-top: 65px; }
    .port-img .imgdiv a:hover .mask {
      opacity: 1; }

.port-btn {
  margin-left: 45%;
  margin-right: 40%;
  margin-top: 5%; }
  .port-btn .port-btn1 {
    font-size: 16px;
    color: white;
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 10%;
    width: 130px;
    height: 40px; }

/*testimonials*/
.testmonials {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%; }
  .testmonials .port-text1 {
    font-size: 18px;
    color: aquamarine;
    text-shadow: 5px 5px 5px aquamarine; }
  .testmonials .test-text1 {
    text-shadow: 5px 5px 5px aquamarine; }
  .testmonials .test-text2 {
    color: aquamarine;
    font-weight: 900; }
  .testmonials .test-text3 {
    font-size: 8px; }
  .testmonials .test-text4 {
    font-size: 10px; }

/*blog*/
.blog-title {
  margin-left: 44%;
  margin-top: 5%; }
  .blog-title .port-text1 {
    font-size: 18px;
    color: aquamarine;
    text-shadow: 5px 5px 5px aquamarine; }
  .blog-title h2 {
    text-shadow: 5px 5px 5px aquamarine; }

.blog div {
  display: inline-block; }

.blog .blog-block {
  margin-left: 15%; }
  .blog .blog-block .test-text3 {
    font-size: 8px; }
  .blog .blog-block .blog-text1 {
    font-size: 26px;
    color: aquamarine; }
  .blog .blog-block .blog-text2 {
    font-size: 10px;
    color: aquamarine; }
  .blog .blog-block .test-text4 {
    font-size: 10px; }
  .blog .blog-block .blog-btn {
    font-size: 10px;
    color: aquamarine;
    border: none; }
  .blog .blog-block .blog-block-1 {
    margin-left: 50px;
    width: 280px;
    height: 350px;
    border-radius: 0%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    /* shadows */
    overflow: hidden;
    margin-bottom: 50px; }

.blog .blog-btn-2 {
  margin-left: 45%; }
  .blog .blog-btn-2 .service-btn3 {
    font-size: 16px;
    color: white;
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 10%;
    width: 130px;
    height: 40px; }

/*contact me*/
.contact-title {
  margin-left: 42%; }
  .contact-title .cont-back {
    position: absolute;
    z-index: -1;
    right: 350px; }
  .contact-title .port-text1 {
    font-size: 18px;
    color: aquamarine;
    text-shadow: 5px 5px 5px aquamarine; }
  .contact-title h2 {
    text-shadow: 5px 5px 5px aquamarine; }

.form1 {
  margin: 0px;
  margin-left: 20%; }
  .form1 .form2 {
    margin: 0px;
    display: inline; }
    .form1 .form2 .input-1 {
      width: 400px;
      height: 50px;
      margin: 8px;
      border-radius: 4px;
      margin-left: 20px; }
  .form1 .form3 {
    margin: 0px;
    margin-left: 1%; }
    .form1 .form3 .textarea1 {
      width: 840px;
      height: 200px;
      margin: 8px;
      border-radius: 4px; }
    .form1 .form3 .cont-btn {
      margin-left: 30%; }
      .form1 .form3 .cont-btn .service-btn3 {
        font-size: 16px;
        color: white;
        background-color: aquamarine;
        border-color: aquamarine;
        border-radius: 10%;
        width: 130px;
        height: 40px; }
    .form1 .form3 .form-dot {
      width: 150px;
      height: 400px;
      background: white;
      background-image: linear-gradient(white 10px, transparent 0), linear-gradient(90deg, aquamarine 5px, transparent 0);
      background-size: 15px 15px,15px 15px;
      position: absolute;
      left: 1%;
      z-index: 1; }

.back-btn {
  margin-left: 85%;
  margin-top: 15%; }

/*footer*/
.nav-footer div {
  display: inline-block; }

.nav-footer .navbar-brand {
  margin-left: 15%; }
  .nav-footer .navbar-brand .foot-text1 {
    font-size: 14px; }

.nav-footer .nav-cont {
  margin-left: 20%; }
  .nav-footer .nav-cont .contact-footer div {
    display: inline-block; }
  .nav-footer .nav-cont .contact-footer .cont-text1 {
    font-size: 14px;
    color: aquamarine; }
  .nav-footer .nav-cont .contact-footer .cont-text2 {
    font-size: 14px; }
  .nav-footer .nav-cont .contact-footer .cont {
    margin-left: 6%; }

.foot {
  border: 2px solid;
  border-color: aquamarine;
  text-align: center;
  border-width: 100%;
  border-right: white;
  border-bottom: white;
  border-left: white;
  margin-top: 5%;
  border-radius: 0%; }
  .foot .cont-text2 {
    font-size: 14px; }

.title .title-text .title-1, .title .title-text .title-2 {
  line-height: 5px; }

.title .title-text .title-3 {
  line-height: 20px; }

.about-me .about-text h3 {
  line-height: 10px; }

.title .title-text .title-btn1, .title .title-text .title-btn2, .about-me .about-text .about-btn1 {
  font-size: 10px;
  font-weight: 500;
  width: 150px;
  height: 50px;
  margin: 5px; }

.about-me .about-text .about-text-1, .about-me .about-text .about-text-2 {
  font-size: 10px; }
